fieldset .btn {
  vertical-align: top;
}

legend{
font-color: white;
}


.container p {
  margin-bottom: 10;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -1px;
  color: white;
}

.footer p {
  margin-bottom: 10;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1px;
  color: white;
}

.hero-unit {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-unit p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -1px;
}


.table{
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  
}

.table th, td{
	color:white;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: black;
}

.playlist{
	margin: 10px 0px 0px 0; 
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 30px;
  font-weight: 200;
  color:#006dcc;;
}

.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: #0058a6;
  text-shadow: 5px 0 5px blue;
}

.hero-unit h2 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: #0088cc;
  -webkit-mask-image: -webkit-gradient (linear, left top, left bottom, from(#0088cc), color-stop(50%, #0044cc), to(#0044cc));

}

input.span2 {
	padding: 15px 80px;
	
}

.container{
	margin-bottom: 1px;
	margin-top: 1px;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-top: 0px;
  margin-bottom: 20px;
  overflow: visible;
}





